CMEECoursework/week2/code/testflow.py
CMEECoursework/week2/code/testcontrolflow.py
CMEECoursework/week2/code/new_dna_csv
CMEECoursework/week2/code/align_seqs_1.py
CMEECoursework/week2/code/cfexercises1_e.py